/* ---------- Typo ---------- */

body {
  font-family: Courier, monospace;
  font-weight: 300;
  color: #fff;
  line-height: 1.275;
}

h1,
h2,
p {
  font-size: 1.125rem;
  font-weight: inherit;
  margin: 1em 0;
}

h2:not(:first-child) {
  margin-bottom: -1em;
}

a,
a:hover,
a:focus,
a:active {
  color: #ffffff;
  text-decoration: underline;
}

/* ---------- Document ----------- */

html,
body {
  min-height: 100%;
  min-height: 100vh;
  min-height: -webkit-fill-available;
}

body {
  margin: 0;
  padding: 10% 0 2rem 0;
  box-sizing: border-box;
}

.logo {
  position: relative;
  z-index: 1;
  margin: 0 auto;
  width: 17.5rem;
  max-width: 80%;
}

.main {
  position: relative;
}
.main::before {
  content: "";
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.7);
}
.section {
  position: relative;
}
.content {
  padding-top: 1.875rem;
  text-align: center;
  margin: 0 auto;
  max-width: 60rem;
  width: 80%;
}

.image {
  margin: 0 auto;
  max-width: 40rem;
}
.image img {
  display: block;
  width: 100%;
  height: auto;
}

/* ---------- Navigation ---------- */

[aria-expanded="false"] + * {
  display: none;
}

.btn {
  position: fixed;
  z-index: 1;
  left: 0.75em;
  bottom: 0.75em;
  font-size: 1rem;
  background: transparent;
  border: 0;
  padding: 0;
  width: 2.875em;
  height: 2.875em;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  cursor: pointer;
  border-radius: 100%;
}
.btn svg {
  position: absolute;
  inset: 0.5em;
  fill: white;
  width: calc(100% - 1em);
}

.btn--nav {
  left: auto;
  right: 0.75em;
  z-index: 1;
}
.btn--nav[aria-expanded="false"] svg:first-child,
.btn--nav[aria-expanded="true"] svg:last-child {
  display: none;
}

.btn--contact {
  bottom: 3.625em;
}
.btn--contact:not(:focus-visible) {
  opacity: 0;
}

.btn--music {
  left: 3.625em;
}
.btn--music svg {
  inset: 0.75em;
  width: calc(100% - 1.5em);
}

.btn--menu {
  left: 6.5em;
}

.btn:not(.btn--nav)[aria-expanded="true"]::after {
  content: "";
  position: absolute;
  inset: 0 0.75em 0.4em 0.75em;
  border-bottom: 0.1rem solid white;
}

/* ---------- Background ---------- */

.background {
  position: fixed;
  inset: 0;
  z-index: -1;
}
.background img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  opacity: 0;
  transition: opacity 2s linear;
}
.background img[aria-current="true"] {
  opacity: 1;
}

@media (prefers-reduced-motion) {
  .background img {
    transition: none;
  }
}

/* ---------- Responsive ---------- */

/* Wide */
@media (min-width: 64rem) {
  .logo {
    width: 31.25rem;
  }

  h1,
  h2,
  p {
    font-size: 1.5625rem;
  }

  .btn {
    font-size: 1.125rem;
  }
}

/* Short */
@media (max-height: 40rem) {
  body {
    padding-top: 5%;
  }
}
